<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>onlineshopping</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SellerRegisterServlet</display-name>
    <servlet-name>SellerRegisterServlet</servlet-name>
    <servlet-class>handle.data.SellerRegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SellerRegisterServlet</servlet-name>
    <url-pattern>/SellerRegisterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sellerlogin_handle</display-name>
    <servlet-name>sellerlogin_handle</servlet-name>
    <servlet-class>handle.data.sellerlogin_handle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sellerlogin_handle</servlet-name>
    <url-pattern>/sellerlogin_handle</url-pattern>
  </servlet-mapping>
  <servlet>
		<description>
		</description>
		<display-name>UploadServlet</display-name>
		<servlet-name>UploadServlet</servlet-name>
		<servlet-class>handle.data.UploadServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>Freeze</display-name>
		<servlet-name>Freeze</servlet-name>
		<servlet-class>handle.data.Freeze</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>FailedDeal</display-name>
		<servlet-name>FailedDeal</servlet-name>
		<servlet-class>handle.data.FailedDeal</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>SuccessDeal</display-name>
		<servlet-name>SuccessDeal</servlet-name>
		<servlet-class>handle.data.SuccessDeal</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>UploadServlet</servlet-name>
		<url-pattern>/UploadServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Freeze</servlet-name>
		<url-pattern>/Freeze</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FailedDeal</servlet-name>
		<url-pattern>/FailedDeal</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SuccessDeal</servlet-name>
		<url-pattern>/SuccessDeal</url-pattern>
	</servlet-mapping>
	<servlet>
		<description>
		</description>
		<display-name>userinfo</display-name>
		<servlet-name>userinfo</servlet-name>
		<servlet-class>handle.data.userinfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>userinfo</servlet-name>
		<url-pattern>/userinfo</url-pattern>
	</servlet-mapping>
	<servlet>
	<servlet-name>HandlePassword</servlet-name>
	<servlet-class>handle.data.HandlePassword</servlet-class>
	</servlet>
	<servlet-mapping>
	<servlet-name>HandlePassword</servlet-name>
	<url-pattern>/HandlePassword</url-pattern>
	</servlet-mapping>
</web-app>